<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can contact with me by:
  <ul>
    <il>my <a href="mailto:andorus911@gmail.com">Gmail</a>;</il>
    <il>or my <a href="skype:andorus911?chat">Skype</a>.</il>
  </ul>
</p>