<footer class="footer">
<small>
  <a href="https://github.com/andorus911/simple_gist">Simple Gist</a> by Drew Long
</small>
<nav>
  <ul>
    <il><%= link_to "About", about_path %></il>
    <il><%= link_to "Contact", contact_path %></il>
  </ul>
</nav>
</footer>